*{
    margin: 0;
    padding: 0;

}

.common-btn{
    padding: 10px 15px;
    background-color:#3402d6;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;

}


/* nav starts */

.container{
    max-width: 1400px;
    margin: auto;
   
}

.nav-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    
}

.nav-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    
    
}
.nav-item a{
    text-decoration: none;
    color: black;
}

/* nav ends */



/* hero section starts */



.hero-img{
    background-image: url('./assets/banner.jpg'); 
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 10px;
    

    
    

  
}

.hero-t{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: white;
    width: 100%;
    
}

.hero-t h1{
    font-size: 80px;
}

.hero-t p{
    font-size: 25px;
    width: 750px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.hero-btn{
    padding: 15px 20px;
    background-color:#3402d6;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    
}



/* hero section ends */

/* {} */


/* Speakers section starts */


.speakers h1{
    font-size: 50px ;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.speakersParent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    
    
}

.card img{
    width: 100%;
    
    
}

.card{
    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
}

.card h5{
    margin: 20px;
}

.card h3{
    margin: 20px;
}

.card p{
    margin: 20px;
}





/* Speakers section end */


/* {} */


/* offer-card-section starts */


.offer-header{
    margin-top: 150px;
    text-align: center;
}


.offer-header h1{
    font-size: 50px;
}

.offer-header p{
    margin-top: 20px;
    font-size: 20px;
}

.offer-card-parent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 150px;
}

.offer-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    padding: 20px;
    width: 250px;
    
}

.offer-card ul{
    padding: 15px;
}

.offer-card ul li{
    padding: 7px;
}


.offer-card h5{
    color: #888888;
    margin-bottom: 5px;
}


.offer-card h2{
    font-size: 30px;
    margin-bottom: 5px;
}

.offer-card p{
    color: #888888;
    margin-bottom: 5px;
}

.active-card{
    background-color: #03001a;
    
}

.active-card ul{
    color: white;
    
}
.active-card h5{
    color: white;
    
}

.active-card h2{
    color: white;
    
}

.active-card p{
    color: white;
    
}


.standard-btn{
    background-color:white;
    color: rgb(44, 85, 248);
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    padding: 8px 10px;
}

.active-card-btn{
    background-color: #3402d6;
    color: white;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    padding: 8px 10px;

    
}



.contact-btn{
    background-color:white;
    color: rgb(44, 85, 248);
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    padding: 8px 10px;
}


